@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: SpoqaHanSansNeo-Regular, Rubik, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-animation {
  position: relative;
  overflow: hidden;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation2 {
  position: relative;
  overflow: hidden;
}

.underline-animation2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  left: -1px;
  background-color: #0b2d5f;
  transition: width 0.3s ease;
}

.underline-animation2:hover::after {
  width: 111%;
}

.underline-animation3 {
  position: relative;
  overflow: hidden;
}

.underline-animation3::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  left: -1px;
  background-color: #063823;
  transition: width 0.3s ease;
}

.underline-animation3:hover::after {
  width: 111%;
}

.underline-animation4 {
  position: relative;
  overflow: hidden;
}

.underline-animation4::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0px;
  left: -1px;
  background-color: #4c0808;
  transition: width 0.3s ease;
}

.underline-animation4:hover::after {
  width: 111%;
}

.history-circle {
  position: relative;
}

.history-circle:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 70px; /* 점선 길이 */
  height: 1px;
  border-top: 1px dashed black; /* 점선 스타일 */
  border-bottom: 1px dashed black; /* 점선 스타일 */
  transform: translateY(-50%);
}

@media (max-width: 1023px) {
  .history-circle:not(:last-child)::before {
    width: 150px; /* 더 큰 화면에서는 점선 길이 증가 */
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #000; /* 스크롤바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* 스크롤바 색상 */
  border: 1px solid #ffffff; /* 스크롤바 바깥쪽 테두리 */
}
