@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.underline-animation {
  position: relative;
  overflow: hidden;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 1px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-animation:hover::after {
  width: 100%;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #000; /* 스크롤바 트랙 색상 */
}

::-webkit-scrollbar-thumb {
  background-color: #fff; /* 스크롤바 색상 */
  border: 1px solid #ffffff; /* 스크롤바 바깥쪽 테두리 */
}
